<!DOCTYPE html>

<html lang="en">

    <head>


<style>
  body {
    color: white;
    background-image: url(/static/cinema.png);
    text-align: center;
    

  }


  a {
    color: yellow;
    text-decoration: none;
    text-align: center;
  }
</style>


        <main class="container-fluid py-5 text-center">

          <p>Excellent choice ! Take some popcorns and enjoy your movie. Come back when you need another suggestion and don't forget to write a review about this movie ;)</p>
          <a href="/">Homepage</a>

        </main>



    </body>

</html>



